[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
faker = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "*"
